<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.spring.mapper.SysBotanymesMapper">
  <resultMap id="BaseResultMap" type="com.sc.spring.entity.SysBotanymes">
    <id column="POST_ID" jdbcType="DECIMAL" property="postId" />
    <result column="POST_NAME" jdbcType="VARCHAR" property="postName" />
    <result column="DEPARTMENT_ID" jdbcType="DECIMAL" property="departmentId" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="COMPANY_ID" jdbcType="DECIMAL" property="companyId" />
    <result column="LASTCHANGE_TIME" jdbcType="TIMESTAMP" property="lastchangeTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    POST_ID, POST_NAME, DEPARTMENT_ID, REMARKS, COMPANY_ID, LASTCHANGE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.sc.spring.entity.SysBotanymesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_BOTANYMES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_BOTANYMES
    where POST_ID = #{postId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SYS_BOTANYMES
    where POST_ID = #{postId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.spring.entity.SysBotanymesExample">
    delete from SYS_BOTANYMES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="POST_ID" keyProperty="postId" parameterType="com.sc.spring.entity.SysBotanymes" useGeneratedKeys="true">
    insert into SYS_BOTANYMES (POST_NAME, DEPARTMENT_ID, REMARKS, 
      COMPANY_ID, LASTCHANGE_TIME)
    values (#{postName,jdbcType=VARCHAR}, #{departmentId,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=DECIMAL}, #{lastchangeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="POST_ID" keyProperty="postId" parameterType="com.sc.spring.entity.SysBotanymes" useGeneratedKeys="true">
    insert into SYS_BOTANYMES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postName != null">
        POST_NAME,
      </if>
      <if test="departmentId != null">
        DEPARTMENT_ID,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="companyId != null">
        COMPANY_ID,
      </if>
      <if test="lastchangeTime != null">
        LASTCHANGE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="postName != null">
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastchangeTime != null">
        #{lastchangeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.spring.entity.SysBotanymesExample" resultType="java.lang.Long">
    select count(*) from SYS_BOTANYMES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_BOTANYMES
    <set>
      <if test="record.postId != null">
        POST_ID = #{record.postId,jdbcType=DECIMAL},
      </if>
      <if test="record.postName != null">
        POST_NAME = #{record.postName,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentId != null">
        DEPARTMENT_ID = #{record.departmentId,jdbcType=DECIMAL},
      </if>
      <if test="record.remarks != null">
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null">
        COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastchangeTime != null">
        LASTCHANGE_TIME = #{record.lastchangeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_BOTANYMES
    set POST_ID = #{record.postId,jdbcType=DECIMAL},
      POST_NAME = #{record.postName,jdbcType=VARCHAR},
      DEPARTMENT_ID = #{record.departmentId,jdbcType=DECIMAL},
      REMARKS = #{record.remarks,jdbcType=VARCHAR},
      COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      LASTCHANGE_TIME = #{record.lastchangeTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.spring.entity.SysBotanymes">
    update SYS_BOTANYMES
    <set>
      <if test="postName != null">
        POST_NAME = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        DEPARTMENT_ID = #{departmentId,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastchangeTime != null">
        LASTCHANGE_TIME = #{lastchangeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where POST_ID = #{postId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.spring.entity.SysBotanymes">
    update SYS_BOTANYMES
    set POST_NAME = #{postName,jdbcType=VARCHAR},
      DEPARTMENT_ID = #{departmentId,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      LASTCHANGE_TIME = #{lastchangeTime,jdbcType=TIMESTAMP}
    where POST_ID = #{postId,jdbcType=DECIMAL}
  </update>
</mapper>