<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.spring.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.sc.spring.entity.SysRole">
    <id column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ROLE_DESC" jdbcType="VARCHAR" property="roleDesc" />
    <result column="UP_ROLE_ID" jdbcType="DECIMAL" property="upRoleId" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="LASTCHANGE_TIME" jdbcType="TIMESTAMP" property="lastchangeTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ROLE_ID, ROLE_NAME, ROLE_DESC, UP_ROLE_ID, "OPERATOR", LASTCHANGE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.sc.spring.entity.SysRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SYS_ROLE
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.spring.entity.SysRoleExample">
    delete from SYS_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="ROLE_ID" keyProperty="roleId" parameterType="com.sc.spring.entity.SysRole" useGeneratedKeys="true">
    insert into SYS_ROLE (ROLE_NAME, ROLE_DESC, UP_ROLE_ID, 
      "OPERATOR", LASTCHANGE_TIME)
    values (#{roleName,jdbcType=VARCHAR}, #{roleDesc,jdbcType=VARCHAR}, #{upRoleId,jdbcType=DECIMAL}, 
      #{operator,jdbcType=VARCHAR}, #{lastchangeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="ROLE_ID" keyProperty="roleId" parameterType="com.sc.spring.entity.SysRole" useGeneratedKeys="true">
    insert into SYS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="roleDesc != null">
        ROLE_DESC,
      </if>
      <if test="upRoleId != null">
        UP_ROLE_ID,
      </if>
      <if test="operator != null">
        "OPERATOR",
      </if>
      <if test="lastchangeTime != null">
        LASTCHANGE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null">
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="upRoleId != null">
        #{upRoleId,jdbcType=DECIMAL},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="lastchangeTime != null">
        #{lastchangeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.spring.entity.SysRoleExample" resultType="java.lang.Long">
    select count(*) from SYS_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_ROLE
    <set>
      <if test="record.roleId != null">
        ROLE_ID = #{record.roleId,jdbcType=DECIMAL},
      </if>
      <if test="record.roleName != null">
        ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleDesc != null">
        ROLE_DESC = #{record.roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.upRoleId != null">
        UP_ROLE_ID = #{record.upRoleId,jdbcType=DECIMAL},
      </if>
      <if test="record.operator != null">
        "OPERATOR" = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.lastchangeTime != null">
        LASTCHANGE_TIME = #{record.lastchangeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_ROLE
    set ROLE_ID = #{record.roleId,jdbcType=DECIMAL},
      ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},
      ROLE_DESC = #{record.roleDesc,jdbcType=VARCHAR},
      UP_ROLE_ID = #{record.upRoleId,jdbcType=DECIMAL},
      "OPERATOR" = #{record.operator,jdbcType=VARCHAR},
      LASTCHANGE_TIME = #{record.lastchangeTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.spring.entity.SysRole">
    update SYS_ROLE
    <set>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null">
        ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="upRoleId != null">
        UP_ROLE_ID = #{upRoleId,jdbcType=DECIMAL},
      </if>
      <if test="operator != null">
        "OPERATOR" = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="lastchangeTime != null">
        LASTCHANGE_TIME = #{lastchangeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.spring.entity.SysRole">
    update SYS_ROLE
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      UP_ROLE_ID = #{upRoleId,jdbcType=DECIMAL},
      "OPERATOR" = #{operator,jdbcType=VARCHAR},
      LASTCHANGE_TIME = #{lastchangeTime,jdbcType=TIMESTAMP}
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </update>
</mapper>